//breakpoints
$desktop-breakpoint: 80rem; // 1280px
$tablet-breakpoint: 48rem; // 768px

//colors

$netflix-red: #ff4d4d;
$bright-red: #ff1a1a;
$light-red: #ff3333;
$white: #ffffff;
$black: #000000;
