@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;
  color: $white;
  font-family: $avenir-font-family;
  font-size: 13px;
}

.navbar {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2rem;
  }

  @include desktop {
    padding: 2rem;
  }

  &__link {
    font-size: 1.5rem;
    text-decoration: none;
    cursor: text;
    color: $netflix-red;
    font-weight: normal;

    @include desktop {
      font-size: 2.5rem;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;

  @include tablet {
    gap: 3rem;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem;
  }

  @include desktop {
    padding: 2rem;
    gap: 3rem;
  }

  &__poster {
    &-img {
      width: 100%;
      height: auto;

      @include tablet {
        width: 18rem;
      }
    }
  }

  &__description {
    &-title {
      font-weight: bold;
      font-size: 17px;
    }
    &-year {
      padding: 5px 0 5px 0;
    }
    &-genre {
      padding-bottom: 5px;
    }
    &-plot {
      font-size: 16px;
      padding: 10px 0 10px 0;
    }
    &-actors {
      padding: 5px 0 5px 0;
    }
  }
}
.search-container__input {
  padding: 5px 10px;
}

.search-container__button {
  padding: 5px 10px;
  border: 2px solid $netflix-red;
  color: $white;
  background-color: $netflix-red;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-container__button:hover {
  background-color: $light-red;
  border-color: $light-red;
}

.search-container__button:active {
  background-color: $bright-red;
  border-color: $bright-red;
}

h2 {
  padding: 1.5rem;
  @include tablet {
    padding: 1.5rem 2rem;
  }

  @include desktop {
    padding: 2rem;
  }
}

.added {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
  justify-content: center;

  @include tablet {
    padding: 1.5rem 2rem;
  }

  @include desktop {
    padding: 2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    &-poster {
      width: 10rem;
    }

    &-name {
      @include typography(1rem, 1.5rem);
    }
  }
}
