@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.navbar {
  padding: 16px;

  &__link {
    @include mobile-header-bold;
    text-decoration: none;
    cursor: text;
    color: red;
    font-weight: 500;
  }
}

.main {
  &__poster {
    &-img {
      height: 100%;
      width: 100%;
    }
  }

  &__description {
    &-title {
      font-weight: 500;
    }
    &-year {
    }
    &-genre {
    }
    &-plot {
    }
    &-actors {
    }
  }
}
